{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{% set venta %}{{fields.field_no_disponible_venta.content|render|striptags|trim}}{% endset %}

<!-- Header -->
{{ fields.nothing.separator }}
{%- if fields.nothing.wrapper_element -%}
  <{{ fields.nothing.wrapper_element }}{{ fields.nothing.wrapper_attributes }}>
{%- endif %}
{%- if fields.nothing.label -%}
  {%- if fields.nothing.label_element -%}
    <{{ fields.nothing.label_element }}{{ fields.nothing.label_attributes }}>{{ fields.nothing.label }}{{ fields.nothing.label_suffix }}</{{ fields.nothing.label_element }}>
  {%- else -%}
    {{ fields.nothing.label }}{{ fields.nothing.label_suffix }}
  {%- endif %}
{%- endif %}
{%- if fields.nothing.element_type -%}
  <{{ fields.nothing.element_type }}{{ fields.nothing.element_attributes }}>
    {{ fields.nothing.content }}
  </{{ fields.nothing.element_type }}>
{%- else -%}
  {{ fields.nothing.content }}
{%- endif %}
{%- if fields.nothing.wrapper_element -%}
  </{{ fields.nothing.wrapper_element }}>
{%- endif %}

<!-- Body -->
{{ fields.body.separator }}
{%- if fields.body.wrapper_element -%}
  <{{ fields.body.wrapper_element }}{{ fields.body.wrapper_attributes }}>
{%- endif %}
{%- if fields.body.label -%}
  {%- if fields.body.label_element -%}
    <{{ fields.body.label_element }}{{ fields.body.label_attributes }}>{{ fields.body.label }}{{ fields.body.label_suffix }}</{{ fields.body.label_element }}>
  {%- else -%}
    {{ fields.body.label }}{{ fields.body.label_suffix }}
  {%- endif %}
{%- endif %}
{%- if fields.body.element_type -%}
  <{{ fields.body.element_type }}{{ fields.body.element_attributes }}>
    {{ fields.body.content }}
  </{{ fields.body.element_type }}>
{%- else -%}
  {{ fields.body.content }}
{%- endif %}
{%- if fields.body.wrapper_element -%}
  </{{ fields.body.wrapper_element }}>
{%- endif %}

<!-- Lo que incluye -->
{{ fields.field_included.separator }}
{%- if fields.field_included.wrapper_element -%}
  <{{ fields.field_included.wrapper_element }}{{ fields.field_included.wrapper_attributes }}>
{%- endif %}
{%- if fields.field_included.label -%}
  {%- if fields.field_included.label_element -%}
    <{{ fields.field_included.label_element }}{{ fields.field_included.label_attributes }}>{{ fields.field_included.label }}{{ fields.field_included.label_suffix }}</{{ fields.field_included.label_element }}>
  {%- else -%}
    {{ fields.field_included.label }}{{ fields.field_included.label_suffix }}
  {%- endif %}
{%- endif %}
{%- if fields.field_included.element_type -%}
  <{{ fields.field_included.element_type }}{{ fields.field_included.element_attributes }}>
    {{ fields.field_included.content }}
  </{{ fields.field_included.element_type }}>
{%- else -%}
  {{ fields.field_included.content }}
{%- endif %}
{%- if fields.field_included.wrapper_element -%}
  </{{ fields.field_included.wrapper_element }}>
{%- endif %}


<!-- Precio -->
{{ fields.price__number.separator }}
{%- if fields.price__number.wrapper_element -%}
  <{{ fields.price__number.wrapper_element }}{{ fields.price__number.wrapper_attributes }}>
{%- endif %}
{%- if fields.price__number.label -%}
  {%- if fields.price__number.label_element -%}
    <{{ fields.price__number.label_element }}{{ fields.price__number.label_attributes }}>
      {% if venta != "1" %}
        {{ fields.price__number.label }}{{ fields.price__number.label_suffix }}
      {% else %}
        {{'Price from'|t}}
      {% endif %}
    </{{ fields.price__number.label_element }}>
  {%- else -%}
    {{ fields.price__number.label }}{{ fields.price__number.label_suffix }}
  {%- endif %}
{%- endif %}
{%- if fields.price__number.element_type -%}
  <{{ fields.price__number.element_type }}{{ fields.price__number.element_attributes }}>
    {{ fields.price__number.content }}
  </{{ fields.price__number.element_type }}>
{%- else -%}
  {{ fields.price__number.content }}
{%- endif %}
{%- if fields.price__number.wrapper_element -%}
  </{{ fields.price__number.wrapper_element }}>
{%- endif %}

<!-- Botón de compra -->
{% if venta != "1" %}
{{ fields.variations_target_id.separator }}
{%- if fields.variations_target_id.wrapper_element -%}
  <{{ fields.variations_target_id.wrapper_element }}{{ fields.variations_target_id.wrapper_attributes }}>
{%- endif %}
{%- if fields.variations_target_id.label -%}
  {%- if fields.variations_target_id.label_element -%}
    <{{ fields.variations_target_id.label_element }}{{ fields.variations_target_id.label_attributes }}>{{ fields.variations_target_id.label }}{{ fields.variations_target_id.label_suffix }}</{{ fields.variations_target_id.label_element }}>
  {%- else -%}
    {{ fields.variations_target_id.label }}{{ fields.variations_target_id.label_suffix }}
  {%- endif %}
{%- endif %}
{%- if fields.variations_target_id.element_type -%}
  <{{ fields.variations_target_id.element_type }}{{ fields.variations_target_id.element_attributes }}>
    {{ fields.variations_target_id.content }}
  </{{ fields.variations_target_id.element_type }}>
{%- else -%}
  {{ fields.variations_target_id.content }}
{%- endif %}
{%- if fields.variations_target_id.wrapper_element -%}
  </{{ fields.variations_target_id.wrapper_element }}>
{%- endif %}
{%- endif %}

<!-- Formulario -->
{{ fields.view_node.separator }}
{%- if fields.view_node.wrapper_element -%}
  <{{ fields.view_node.wrapper_element }}{{ fields.view_node.wrapper_attributes }}>
{%- endif %}
{%- if fields.view_node.label -%}
  {%- if fields.view_node.label_element -%}
    <{{ fields.view_node.label_element }}{{ fields.view_node.label_attributes }}>{{ fields.view_node.label }}{{ fields.view_node.label_suffix }}</{{ fields.view_node.label_element }}>
  {%- else -%}
    {{ fields.view_node.label }}{{ fields.view_node.label_suffix }}
  {%- endif %}
{%- endif %}
{%- if fields.view_node.element_type -%}
  <{{ fields.view_node.element_type }}{{ fields.view_node.element_attributes }}>
    <a href="{{fields.view_node.content|render|striptags|trim}}" >
    {% if venta != "1" %}
      {{'Contact'|t}}
    {% else %}
      {{'Budget request'|t}}
    {% endif %}
    </a>
  </{{ fields.view_node.element_type }}>
{%- else -%}
    <a href="{{fields.view_node.content|render|striptags|trim}}" >
    {% if venta != "1" %}
      {{'Contact'|t}}
    {% else %}
      {{'Budget request'|t}}
    {% endif %}
    </a>
{%- endif %}
{%- if fields.view_node.wrapper_element -%}
  </{{ fields.view_node.wrapper_element }}>
{%- endif %}
